.contact {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: auto;
    margin: 0 2%;
}
.contact-form .container{
    background-color: white;
    margin: 10% 5%;
    border-radius: 20px;
    box-shadow: 2px 0px 12px 2px rgba(0,0,0,0.13);
}
form {
    padding: 0px 20px;
}
fieldset {
    padding: 0 0 5% 0px; 
    border: none;
}
.form-input {
    padding: 7px 10px;
    border: solid rgba(0, 0, 0, 0.836) 1px; 
    border-radius: 5px;
    outline: inherit;
    width: 93%;
    display: block;
}
select {
    padding: 7px 5px;
    border: solid rgba(0, 0, 0, 0.836) 1px; 
    border-radius: 5px;
    outline: inherit;
    width: 100%;
    display: block;
    font-weight: 500;
    font-size: 0.7rem;
    font-family: 'Open Sans', sans-serif;
    color: rgb(131, 131, 131);
}
.selected-value {
    font-weight: 500;
    font-size: 0.7rem;
    font-family: 'Open Sans', sans-serif;
}
label {
    display: block;
    padding: 13px 0 8px 0;
    font-weight: 500;
    font-size: 0.7rem;
}
.hyperlink-field {
    padding-top: 3%;
}
.submit-button {
    height: 35px;
    background-color: black;
    border-radius: 5px;
    color: white;
    font-size: 0.8rem;
    margin-top: 20px;
    width: 100%;
}
.information-banner {
    background-color: #1548F7;
    height: 26px;
    width: 100vw;
    text-align: center;
    margin-top: 25px;
    padding-left: 10%;
}