body {
    padding: 0;
    margin: 0;
}
#logo {
    width: 100px;
}
.information-banner {
    background-color: #1548F7;
    height: 26px;
    width: 100vw;
    text-align: center;
}
.information-banner ul {
    list-style: none;
    padding-top: 2px;
}
.information-banner li {
    display: inline-block;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 0.7rem;
    color: white;
}


.herotop {
    height: 80vh;
    width: 100vw;
    background-image: url("../images/herotop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 8%;
} 

.herotop h1 {
    font-size: 4.2rem;
    color: white;
    height: 30px;
}

.herotop p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    color: white;
    padding: 20px;
}

.container {
    padding: 5%;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
}

.new-items h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    color: rgb(36, 36, 36);
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}
h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
    margin: 15px;
}
.price {
    text-align: center;
    font-weight: 500;
    font-size: 0.9rem;
    color: #727272;
}

.new-items {
    padding: 4% 5%;
} 
.products{
    display: grid;
    grid-gap: 2rem;
    min-height: 400px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    grid-template-rows: auto;
}
.products > div {
    background-color: lightgrey;
}

.parrallax {
    height: 80vh;
    background-image: url(../images/reykjavik.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat
}

.cta-button-white {
    display: inline-block;
    background-color: white;
    width: 200px;
    padding: 10px 0px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    color: black;
    margin: 2px;
    -webkit-box-shadow: 1px 0px 5px 1px rgba(0,0,0,0.14);
    -moz-box-shadow: 1px 0px 5px 1px rgba(0,0,0,0.14);
    box-shadow: 1px 0px 5px 1px rgba(0,0,0,0.14);
}
.cta-button-black-outline {
    display: inline-block;
    width: 200px;
    padding: 10px 0px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    color: black;
    margin: 2px;
    border: solid 2px black;
}

