body {
    padding: 0;
    margin: 0;
}
#logo {
    width: 100px;
}
.information-banner {
    background-color: #1548F7;
    height: 26px;
    width: 100vw;
    text-align: center;
}
.information-banner ul {
    list-style: none;
    padding-top: 2px;
}
.information-banner li {
    display: inline-block;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 0.7rem;
    color: white;
}


.herotop {
    height: 80vh;
    width: 100vw;
    background-image: url("../images/herotop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 8%;
} 

.herotop h1 {
    font-size: 4.2rem;
    color: white;
    height: 30px;
}

.herotop p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    color: white;
    padding: 20px;
}

.container {
    padding: 3% 5%;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2.2rem;
}

.new-items h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: rgb(36, 36, 36);
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.7rem;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}
h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: underline;
    color: white;
    margin: 0;
}
h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
    margin: 10px 5px;
}
.price {
    text-align: center;
    font-weight: 500;
    font-size: 0.9rem;
    color: #727272;
}

.new-items {
    padding: 4% 5%;
} 
.products{
    display: grid;
    grid-gap: 2rem;
    min-height: 400px;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    grid-template-rows: auto;
}
.products > div {
    background-color: white;
}

.parrallax {
    height: 70vh;
    background-image: url(../images/reykjavik_parrallax.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

.stories-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 4fr));
    grid-template-rows: auto;
    grid-gap: 1rem;
    min-height: 250px;
    padding-top: 10px;
}
.stories-item > h6 {
    text-align: left;
}
.stories-img {
    height: 200px;
    border-radius: 25px;
    box-shadow: 1px 2px 12px #c9c9c9;
}

footer {
    background-color: #3F3F3F;
    padding-top: 0%;
    
}
.footer {
    display: grid;
    grid-template-columns: 40% 15% 15% 15% 15%;
    background-color: #3F3F3F;
}
footer .card ul, li, a {
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: white;
    padding: 2px 0px;
}
footer .card ul, li, a:hover {
    color: rgba(255, 255, 255, 0.664); 
}
footer #logo2{
    width: 120px;
    margin-bottom: 30px;
} 
footer .bottomtext {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
    color: white;
    padding: 0px 0px;
}
footer .card label {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
    color: white;
    display: block;
    padding-bottom: 10px;
}
footer .card input {
    background-color: transparent;
    padding: 8px 12px;
    border: solid rgba(255, 255, 255, 0.836) 1px; 
    border-radius: 8px;
    outline: inherit;
    margin-right: 3px;
    font-weight: 500;
    font-size: 0.6rem;
    letter-spacing: 0.3px;
    color: rgba(255, 255, 255, 0.836);

}

#newsletter button{
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 0.6rem;
    color: white;
    padding: 7px 14px;
    border: solid white 2px; 
    border-radius: 8px;
    outline: inherit;
    margin: 2px;
}
.cta-button-white {
    display: inline-block;
    background-color: white;
    width: 200px;
    padding: 10px 0px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    color: black;
    margin: 2px;
    -webkit-box-shadow: 1px 0px 5px 1px rgba(0,0,0,0.14);
    -moz-box-shadow: 1px 0px 5px 1px rgba(0,0,0,0.14);
    box-shadow: 1px 0px 5px 1px rgba(0,0,0,0.14);
}
.cta-button-black-outline {
    display: inline-block;
    width: 200px;
    padding: 10px 0px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    color: black;
    margin: 2px;
    border: solid 2px black;
}

@media only screen and (max-width: 600px) {
    .footer {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    padding-top: 6vh;
    }
    #newsletter, #men, #women, #logo2 {
    display: none;
    }
    #copyright {
    text-align: center;
    margin-top: 2vh; 
    margin-bottom: 2vh;
    }
    #some {
    margin-bottom: 5vh;
}






}